- name: Create sddm config directory
  become: true
  file:
    path: /etc/sddm.conf.d
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Deploy sddm config
  become: true
  copy:
    src: files/sddm/kde_settings.conf
    dest: /etc/sddm.conf.d/kde_settings.conf
    mode: '0644'
    owner: root
    group: root

- name: Config Breeze Window Decorarion
  copy:
    src: files/breezerc
    dest: "{{ home }}/.config/breezerc"
    mode: '0600'

- name: Create autostart directory
  file:
    path: "{{ home }}/.config/autostart"
    state: directory
    mode: '0755'

- name: Create shortcut for drop-down terminal
  ansible.builtin.lineinfile:
    path: "{{ home }}/.config/kglobalshortcutsrc"
    search_string: 'activate task manager entry 1='
    line: 'activate task manager entry 1=`,Meta+1,Activate Task Manager Entry 1'

- name: Create shortcut for drop-down terminal
  ansible.builtin.lineinfile:
    path: "{{ home }}/.config/plasma-org.kde.plasma.desktop-appletsrc"
    search_string: 'launchers='
    line: 'launchers=applications:kitty.desktop,preferred://filemanager'

