- name: Install kde packages
  become: true
  pacman:
    name:
      - gwenview
      - kwalletmanager

- name: Create sddm config directory
  become: true
  file:
    path: /etc/sddm.conf.d
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Deploy sddm config
  become: true
  copy:
    src: files/sddm/kde_settings.conf
    dest: /etc/sddm.conf.d/kde_settings.conf
    mode: '0644'
    owner: root
    group: root

- name: Config Breeze Window Decorarion
  copy:
    src: files/breezerc
    dest: "{{ home }}/.config/breezerc"
    mode: '0600'

- name: Create autostart directory
  file:
    path: "{{ home }}/.config/autostart"
    state: directory
    mode: '0755'

- name: Create shortcut for drop-down terminal
  ansible.builtin.lineinfile:
    path: "{{ home }}/.config/kglobalshortcutsrc"
    search_string: 'activate task manager entry 1='
    line: 'activate task manager entry 1=`,Meta+1,Activate Task Manager Entry 1'

- name: Add change layout Shift+Alt shortcut
  blockinfile:
    path: "{{ home }}/.config/kglobalshortcutsrc"
    append_newline: true
    prepend_newline: true
    block: |
      [KDE Keyboard Layout Switcher]
      Switch to Next Keyboard Layout=Alt+Shift,Meta+Alt+K,Switch to Next Keyboard Layout
      [mediacontrol]
      playpausemedia=Launch (1)\tMedia Play,Media Play,Play/Pause media playback
      nextmedia=Shift+Volume Up,Media Next,Media playback next
      previousmedia=Shift+Volume Down,Media Previous,Media playback previous

- name: Create shortcut for drop-down terminal
  ansible.builtin.replace:
    path: "{{ home }}/.config/plasma-org.kde.plasma.desktop-appletsrc"
    regexp: '^launchers=.+$'
    replace: 'launchers=applications:kitty.desktop,applications:firefox.desktop,preferred://filemanager'

- name: Replace firefox icon in .desktop file
  become: true
  replace:
    path: /usr/share/applications/firefox.desktop
    regexp: '^Icon=.+$'
    replace: "Icon={{ home }}/.local/share/icons/Mozilla_Firefox_3.5_logo.png"

- name: Replace dolphin icon in .desktop file
  become: true
  replace:
    path: /usr/share/applications/org.kde.dolphin.desktop
    regexp: '^Icon=.+$'
    replace: "Icon=folder-brown"

- name: Disable application restoring after reboot
  copy:
    dest: "{{ home }}/.config/ksmserverrc"
    content: |
      [General]
      loginMode=emptySession
    mode: '0600'

- name: Overrides for plasma-org.kde.plasma.desktop-appletsrc
  blockinfile:
    path: "{{ home }}/.config/plasma-org.kde.plasma.desktop-appletsrc"
    append_newline: true
    prepend_newline: true
    block: |
      # --- Desktop wallpaper and color
      [Containments][1]
      wallpaperplugin=org.kde.color
      [Containments][1][Wallpaper][org.kde.color][General]
      Color=85,85,119
      [Containments][2]
      formfactor=3
      location=6
      # --- Application launcher
      [Containments][2][Applets][3]
      immutability=1
      plugin=org.kde.plasma.kickoff
      [Containments][2][Applets][3][Configuration]
      PreloadWeight=100
      popupHeight=506
      popupWidth=648
      [Containments][2][Applets][3][Configuration][General]
      favoritesDisplay=1
      favoritesPortedToKAstats=true
      icon=Red-Hat.png
      paneSwap=true
      systemFavorites=suspend\\,hibernate\\,reboot\\,shutdown
      # --- Clock
      [Containments][2][Applets][21][Configuration][Appearance]
      fontWeight=400
      showDate=false
      use24hFormat=2
      # --- Virtual desktop
      [Containments][2][Applets][4][Configuration][General]
      displayedText=Number
      # --- Icons-Only Task Manager
      [Containments][2][Applets][5][Configuration][General]
      iconSpacing=0
      showToolTips=false
      indicateAudioStreams=false
      tooltipControls=false
      # --- System Tray
      [Containments][2][Applets][7][General]
      iconSpacing=1
      shownItems=KeePassXC,org.kde.plasma.volume,org.kde.plasma.bluetooth,org.kde.plasma.keyboardlayout,org.kde.plasma.networkmanagement,org.kde.plasma.battery
      hiddenItems=org.kde.plasma.clipboard,org.kde.plasma.manage-inputmethod,org.kde.plasma.mediacontroller,org.kde.plasma.brightness
      [Containments][2][General]
      AppletOrder=3;5;6;7;21;4
      # --- Keyboard Layout Appearance
      [Containments][2][Applets][7][Applets][12][Configuration][General]
      displayStyle=Flag

- name: Overrides for plasmashellrc
  blockinfile:
    path: "{{ home }}/.config/plasmashellrc"
    append_newline: true
    prepend_newline: true
    block: |
      [PlasmaTransientsConfig]
      PreloadWeight=42
      [PlasmaViews][Panel 2]
      floating=0
      floatingApplets=1
      alignment=1
      panelOpacity=0
      panelLengthMode=1
      [PlasmaViews][Panel 2][Defaults]
      thickness=68

- name: Disable animation kdeglobals
  lineinfile:
    path: "{{ home }}/.config/kdeglobals"
    search_string: 'AnimationDurationFactor'
    line: 'AnimationDurationFactor=0'

- name: Disable animation xsettingsd
  lineinfile:
    path: "{{ home }}/.config/xsettingsd/xsettingsd.conf"
    search_string: 'Gtk/EnableAnimations'
    line: 'Gtk/EnableAnimations 0'

- name: Disable animation gtk
  lineinfile:
    path: "{{ home }}/.config/{{ item }}/settings.ini"
    search_string: 'gtk-enable-animations'
    line: 'gtk-enable-animations=false'
  loop:
    - gtk-3.0
    - gtk-4.0

- name: Setting gtk pointer size
  lineinfile:
    path: "{{ home }}/.config/{{ item }}/settings.ini"
    search_string: 'gtk-cursor-theme-size'
    line: 'gtk-cursor-theme-size=30'
  loop:
    - gtk-3.0
    - gtk-4.0

- name: Apply Desktop Effects kwinrc file
  blockinfile:
    path: "{{ home }}/.config/kwinrc"
    append_newline: true
    prepend_newline: true
    block: |
      [Effect-diminactive]
      Strength=70 
      [Plugins]
      dialogparentEnabled=false
      diminactiveEnabled=true
      dimscreenEnabled=false
      screenedgeEnabled=false
      shakecursorEnabled=false
      [MouseBindings]
      CommandWindow1=Activate and raise

- name: Disable file indexing in baloofilerc
  blockinfile:
    path: "{{ home }}/.config/krunnerrc"
    append_newline: true
    prepend_newline: true
    block: |
      [Plugins]
      baloosearchEnabled=false
      browserhistoryEnabled=false
      browsertabsEnabled=false
      krunner_bookmarksrunnerEnabled=false
      krunner_dictionaryEnabled=false
      krunner_katesessionsEnabled=false
      krunner_konsoleprofilesEnabled=false
      krunner_kwinEnabled=false
      krunner_placesrunnerEnabled=false
      krunner_recentdocumentsEnabled=false
      krunner_shellEnabled=false
      krunner_spellcheckEnabled=false
      org.kde.activities2Enabled=false
      org.kde.datetimeEnabled=false
      [General]
      FreeFloating=true

- name: Disable file indexing in baloofilerc
  blockinfile:
    path: "{{ home }}/.config/baloofilerc"
    append_newline: true
    prepend_newline: true
    block: |
      [Basic Settings]
      Indexing-Enabled=false

- name: Copy user-dirs.dirs
  template:
    src: templates/user-dirs.dirs
    dest: "{{ home }}/.config/user-dirs.dirs"
    mode: '0600'

- name: Copy kiorc
  copy:
    src: files/kiorc
    dest: "{{ home }}/.config/kiorc"
    mode: '0600'

- name: Copy kscreenlockerrc
  copy:
    src: files/kscreenlockerrc
    dest: "{{ home }}/.config/kscreenlockerrc"
    mode: '0600'

- name: Copy powerdevilrc
  copy:
    src: files/powerdevilrc
    dest: "{{ home }}/.config/powerdevilrc"
    mode: '0600'

- name: Overrides for dolphinrc
  blockinfile:
    path: "{{ home }}/.config/dolphinrc"
    append_newline: true
    prepend_newline: true
    block: |
      [ContentDisplay]
      UseShortRelativeDates=false
      [DetailsMode]
      ExpandableFolders=false
      PreviewSize=64
      [General]
      OpenExternallyCalledFolderInNewTab=true
      ShowFullPath=true
      ShowStatusBar=FullWidth
      [InformationPanel]
      dateFormat=ShortFormat
      showHovered=false
      [KFileDialog Settings]
      Places Icons Auto-resize=false
      Places Icons Static Size=32
      [MainWindow]
      MenuBar=Disabled
      [MainWindow][Toolbar mainToolBar]
      ToolButtonStyle=IconOnly
      [PlacesPanel]
      IconSize=48
      [PreviewSettings]
      Plugins=appimagethumbnail,audiothumbnail,glycin-heif,comicbookthumbnail,cursorthumbnail,djvuthumbnail,ebookthumbnail,exrthumbnail,directorythumbnail,fontthumbnail,imagethumbnail,glycin-image-rs,jpegthumbnail,glycin-jxl,kraorathumbnail,windowsexethumbnail,windowsimagethumbnail,opendocumentthumbnail,gsthumbnail,glycin-svg,svgthumbnail

- name: Copy kxkbrc
  copy:
    src: files/kxkbrc
    dest: "{{ home }}/.config/kxkbrc"
    mode: '0600'

- name: Copy kcminputrc mouse and touchpad speed config
  copy:
    src: files/kcminputrc
    dest: "{{ home }}/.config/kcminputrc"
    mode: '0600'
