- name: Install tlp packages
  become: true
  pacman:
    name:
      - tlp
      - tlp-pd
      - tlp-rdw
    state: present

- name: Enable tlp, tlp-pd and NetworkManager-dispatcher systemd service
  become: true
  ansible.builtin.systemd_service:
    enabled: true
    name: "{{ item }}"
  loop:
    - tlp.service
    - tlp-pd.service
    - NetworkManager-dispatcher.service
  notify: Systemd reload

- name: Mask systemd-rfkill.service and systemd-rfkill.socket
  become: true
  ansible.builtin.systemd_service:
    masked: yes
    name: "{{ item }}"
  loop:
    - systemd-rfkill.service
    - systemd-rfkill.socket
  notify: Systemd reload

- name: Copy drop-in config
  become: true
  ansible.builtin.copy:
    src: files/tlp/tlp-config.conf
    dest: /etc/tlp.d/01-user.conf
    mode: '0644'
  notify: tlp start
