- name: Deploy loader.conf
  become: true
  copy:
    dest: /boot/loader/loader.conf
    owner: root
    group: root
    mode: '0755'
    content: |
      default @saved
      timeout 3
      console-mode max
      editor no

- name: Find default (by archinstall) entry config
  become: true
  find:
    paths: /boot/loader/entries/
    patterns: "*-*_linux.conf"
    file_type: file
  register: old_config

- name: Rename old config with pretty name
  become: true
  command: mv {{ old_config.files.0.path }} /boot/loader/entries/linux.conf
  when: old_config.matched != 0

- name: Add kernel parameters
  become: true
  blockinfile:
    path: /boot/loader/entries/linux.conf
    insertafter: EOF
    block: |
      options {{ kernel_opts }}

- name: Grep options string
  become: true
  command: grep '^options' /boot/loader/entries/linux.conf
  register: options_string
  changed_when: false

- name: Create lts and zen-linux entry config
  become: true
  blockinfile:
    create: true
    path: /boot/loader/entries/linux-{{ item }}.conf
    block: |
      title   Arch Linux {{ item | upper }}
      linux   /vmlinuz-linux-{{ item }}
      initrd  /initramfs-linux-{{ item }}.img
      {{ options_string.stdout }}
    mode: '0755'
    owner: root
    group: root
  loop:
    - lts
    - zen

