- name: Update system
  become: true
  pacman:
    update_cache: yes
    upgrade: yes

- name: Install base packages
  become: true
  pacman:
    name:
      - 7zip
      - alacritty
      - base
      - base-devel
      - bat
      - bind
      - curl
      - firefox
      - git
      - gparted
      - htop
      - imagemagick
      - inotify-tools
      - jq
      - keepassxc
      - kitty
      - less
      - linux-lts
      - linux-lts-headers
      - linux-zen
      - linux-zen-headers
      - lsof
      - mpv
      - mpv-mpris
      - neovim
      - networkmanager-openvpn
      - nicotine+
      - nvtop
      - obsidian
      - openssh
      - pkgfile
      - playerctl
      - qbittorrent
      - rclone
      - socat
      - strace
      - strawberry
      - tmux
      - unzip
      - whois
      - wget
      - yt-dlp
      - zsh
    state: present

- name: Create /etc/crypttab
  become: true
  copy:
    mode: '0600'
    dest: /etc/crypttab
    content: |
      archive LABEL=archive /etc/cryptsetup-keys.d/secondary.key  timeout=180,luks,nofail

- name: Add archive partition to fstab
  become: true
  lineinfile:
    path: /etc/fstab
    line: "/dev/mapper/archive {{ home }}/archive ext4  rw,relatime,nofail	0 2"
    insertafter: EOF

- name: Create directories
  file:
    state: directory
    path: "{{ item }}"
    mode: '0755'
  loop:
    - "{{ home }}/.local/share/icons"
    - "{{ home }}/.local/bin"

- name: Recursively copy custom icons
  copy:
    src: files/icons/
    dest: "{{ home }}/.local/share/icons/"

- name: Recursively copy custom scripts from templates
  template:
    src: "{{ item.src }}"
    dest: "{{ home }}/.local/bin/{{ item.path }}"
    mode: '0555'
  with_filetree: templates/scripts/
  when: item.state == 'file'
