- name: Update system
  become: true
  pacman:
    update_cache: yes
    upgrade: yes

- name: Install base packages
  become: true
  pacman:
    name:
      - 7zip
      - alacritty
      - base
      - base-devel
      - bat
      - bind
      - cuetools
      - curl
      - firefox
      - flac
      - git
      - go
      - gparted
      - htop
      - imagemagick
      - inotify-tools
      - jq
      - kdegraphics-thumbnailers
      - keepassxc
      - kitty
      - less
      - linux-lts
      - linux-lts-headers
      - linux-zen
      - linux-zen-headers
      - lsof
      - man-db
      - man-pages
      - mpv
      - mpv-mpris
      - neovim
      - networkmanager-openvpn
      - nicotine+
      - nvtop
      - obsidian
      - openssh
      - pdfgrep
      - pkgfile
      - playerctl
      - qbittorrent
      - rclone
      - reaper
      - rust
      - socat
      - strace
      - strawberry
      - tmux
      - unzip
      - wavpack
      - whois
      - wget
      - yt-dlp
      - zsh
    state: present

- name: Create /etc/crypttab
  become: true
  copy:
    mode: '0600'
    dest: /etc/crypttab
    content: |
      {{ archive_name }} LABEL={{ archive_name }} /etc/cryptsetup-keys.d/secondary.key  timeout=180,luks,nofail
      {{ archive_1tb_name }} LABEL={{ archive_1tb_name }} /etc/cryptsetup-keys.d/secondary.key  timeout=180,luks,nofail
  notify: Reload systemd

- name: Ensure mount directories present
  become: true
  file:
    path: "{{ item }}"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0755'
    state: directory
  loop:
    - "{{ archive_path }}"
    - "{{ archive_1tb_path }}"
  notify: Reload systemd

- name: Add partitions to fstab
  become: true
  blockinfile:
    dest: /etc/fstab
    append_newline: true
    prepend_newline: true
    content: |
      /dev/mapper/{{ archive_name }} {{ archive_path }} ext4  rw,relatime,nofail	0 2
      /dev/mapper/{{ archive_1tb_name }} {{ archive_1tb_path }} ext4  rw,relatime,nofail	0 2
  notify: Reload systemd

- name: Create directories
  file:
    state: directory
    path: "{{ item }}"
    mode: '0755'
  loop:
    - "{{ home }}/.local/share/icons"
    - "{{ home }}/.local/bin"

- name: Recursively copy custom icons
  copy:
    src: files/icons/
    dest: "{{ home }}/.local/share/icons/"

- name: Recursively copy custom scripts from templates
  template:
    src: "{{ item.src }}"
    dest: "{{ home }}/.local/bin/{{ item.path }}"
    mode: '0555'
  with_filetree: templates/scripts/
  when: item.state == 'file'

- name: Enabling multilib repository
  become: true
  blockinfile:
    path: /etc/pacman.conf
    append_newline: true
    prepend_newline: true
    block: |
      [multilib]
      Include = /etc/pacman.d/mirrorlist
  notify: Upgrade arch system

- name: Create downloads symlink to Download directory in archive
  file:
    state: link
    src: "{{ home }}/{{ archive_name }}/Downloads"
    dest: "{{ home }}/downloads"

- name: Add russian locale
  become: true
  blockinfile:
    path: /etc/locale.gen
    append_newline: true
    prepend_newline: true
    block: |
      ru_RU.UTF-8 UTF-8
  notify: Update locale
